[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-image = "*"
img2pdf = "*"
imutils = "*"
PyQt5 = "*"
dotmap = "*"
qimage2ndarray = "*"
jupyter = "*"
pandas = "*"
seaborn = "*"
pyqt5-stubs = "*"
pypdf2 = "*"
xlrd = "*"
opencv-python = "<=4.2"
qt-material = "*"
logzero = "*"
pyqt5-tools = "*"
auto-py-to-exe = "*"

[requires]
python_version = "3.8.6"
