[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
yapf = "*"

[packages]
numpy = "*"
matplotlib = "*"
sklearn = "*"
scipy = "*"
scikit-image = "*"
img2pdf = "*"
opencv-python = "*"
imutils = "*"
pyqt5 = "*"
dotmap = "*"
qimage2ndarray = "*"
jupyter = "*"
ipykernel = "<5.0.0"

[requires]
python_version = "3.6"
