[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
pyinstaller = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-image = "*"
img2pdf = "*"
opencv-python = "*"
imutils = "*"
pyqt5 = "*"
dotmap = "*"
qimage2ndarray = "*"
jupyter = "*"
pandas = "==0.22.0"
seaborn = "*"
pyqt5-stubs = "*"
pip = "*"
install = "*"
pypdf2 = "*"

[requires]
python_version = "3.6"
